# Импорт либ

In [1]:
import pandas as pd

# Импорт файла

In [2]:
df = pd.read_csv('data/CoordADYG.txt')

Чистим колонку. Метод .str.replace обращается к колонке, и заменяет один аргумент на второй. То есть просто удалили двойные кавычки

In [3]:
df['E'] = df['E'].str.replace('"', '')
df['N'] = df['N'].str.replace('"', '')

Посморим как оно выглядит

In [4]:
df.head()

    №             N           E  DegreeN  MinN  SecN  DegreeE  MinE  SecE
0  88    44°37'1.80  40°2'17.90      NaN   NaN   NaN      NaN   NaN   NaN
1  89   44°40'17.47   40°7'0.74      NaN   NaN   NaN      NaN   NaN   NaN
2  90   44°40'30.07  40°6'10.69      NaN   NaN   NaN      NaN   NaN   NaN
3  91   44°40'49.39  40°5'54.42      NaN   NaN   NaN      NaN   NaN   NaN
4  92  44°40'48.50    40°6'0.50      NaN   NaN   NaN      NaN   NaN   NaN

Вот основаная магия. Разделяем по регулярке. Метод .str.split делит колонку по условию. В качестве условия мы используем регулярное выражение. 
<center><b>
° | \'
</b></center>
Это означает, что градус или одинарная кавчка есть условия для разделения. | -- это или, а кавычка всегда должна экранироваться

In [5]:
N = df['N'].str.split(pat=r'°|\'', expand=True)

In [6]:
E = df['E'].str.split(pat=r'°|\'', expand=True)

Разделили. Они должны быть одного размера. Проверим это:

In [7]:
N.shape

(10, 3)

In [8]:
N.shape

(10, 3)

Все верно. теперь склеим их в один датафрейм. Это выглядит так: соединяем два датафрейма, которые получили ранее, в axis записываем как их соединить. 1 - значит соединить справа и слева, если было бы 0, то соединились они сверху и снизу. После этого указываем какие колонки будут у файла результата. И вуаля:

In [9]:
df_result = (pd.concat([N, E], axis=1)
             .set_axis(['DegreeN', 'MinN', 'SecN', 'DegreeE', 'MinE', 'SecE'], axis='columns'))

In [10]:
df_result.head()

  DegreeN MinN    SecN DegreeE MinE   SecE
0      44   37    1.80      40    2  17.90
1      44   40   17.47      40    7   0.74
2      44   40   30.07      40    6  10.69
3      44   40   49.39      40    5  54.42
4      44   40  48.50       40    6   0.50

Сохраняем его

In [11]:
df_result.to_csv('data/CoordADYG_result', index=False)